ul
{
list-style-type:none;
margin:0;
padding:0;
}
li
{
float:left;
}
a
{
display:block;
width:60px;
}
div
{
-webkit-animation: myfirst 5s; /* Chrome, Safari, Opera */
animation: myfirst 5s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst
{
from {background: orangew;}
to {background: blue;}
}

/* Standard syntax */
@keyframes myfirst
{
from {background: red;}
to {background: yellow;}
}
